html
  head
    title Express JS Starter
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width', initial-scale='1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")    

  body
    .container
      block content

    block scripts
